@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700;800&display=swap");
/**************
variables
**************/
/**************
mixins
**************/
/**************
basic styles
**************/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.container {
  width: 90%;
  margin: auto;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
}

hr {
  background: #4f4f4f;
  width: 90%;
  display: block;
  height: 1px;
  content: "";
  margin: 3px 0;
}

/**************
header
**************/
header {
  background-color: #333333;
  color: #fff;
  text-align: center;
  padding: 30px 0;
}

header h1 {
  font-size: 3rem;
  font-weight: 800;
}

header h3 {
  font-size: 1.3rem;
  font-weight: 300;
}

/**************
nav
**************/
nav {
  background-color: #00aabb;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav li {
  margin: 40px 30px 60px 30px;
}

nav .active {
  padding: 15px 25px;
  background-color: rgba(255, 255, 255, 0.5);
}

nav a {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 300;
}

nav a:hover {
  color: #4f4f4f;
  cursor: pointer;
}

/**************
about
**************/
.about {
  padding: 100px 0;
  color: #4f4f4f;
  background-image: url(../img/bg01.png);
  height: 90vh;
  background-position: center;
  background-size: cover;
}

.about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about .container article {
  padding: 15px;
}

.about .container article:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
}

.about .container article:first-child h3 {
  color: #00aabb;
  font-size: 1.7rem;
  font-weight: 800;
}

.about .container article:first-child p {
  line-height: 3;
}

.about .container article:first-child a {
  font-size: .9rem;
}

.about .container article:first-child a:hover {
  color: #313131;
  text-decoration: underline;
}

.about .container article:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 65%;
          flex: 0 0 65%;
}

.about .container article:last-child h2 {
  color: #00aabb;
  font-size: 2.5rem;
  font-weight: 800;
}

.about .container article:last-child h4 {
  color: #4f4f4f;
  margin: 20px 0 25px 0;
}

.about .container article:last-child p {
  line-height: 1.7;
}

/**************
team
**************/
.team {
  background-color: #313131;
  padding: 100px 0;
  text-align: center;
}

.team .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team .container img {
  width: 100%;
  margin: 20px 0;
  opacity: .9;
}

.team .container img:hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.team .container article {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 23%;
          flex: 0 0 23%;
}

.team .container article h4 {
  color: #fff;
  font-size: 1.3rem;
  letter-spacing: .9px;
  font-weight: 600;
}

.team .container article p {
  font-weight: 400;
  font-size: .9rem;
  letter-spacing: .5px;
  color: #fff;
}

.team .container article button {
  background-color: #00aabb;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  padding: 15px 30px;
  border: none;
  margin: 20px 0;
}

.team .container article button:hover {
  color: #00aabb;
  background-color: #4f4f4f;
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

/**************
blog
**************/
.blog {
  padding: 100px 0;
  background-color: #4f4f4f;
  color: #fff;
}

.blog .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog .container article {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 29%;
          flex: 0 0 29%;
  padding: 10px;
}

.blog .container article h4 {
  font-size: 1.3rem;
  letter-spacing: .9px;
  font-weight: 600;
  margin-bottom: 20px;
}

.blog .container article p {
  font-weight: 300;
  font-size: .9rem;
  letter-spacing: .4px;
  color: #fff;
  line-height: 1.9;
}

.blog .container article hr {
  margin: 8px 0;
}

.blog .container article a {
  color: #fff;
}

.blog .container article a:hover {
  text-decoration: underline;
}

.blog .container article i {
  font-size: 2rem;
  margin: 10px 10px 20px 10px;
}

.blog .container article i:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

/**************
footer
**************/
footer {
  padding: 100px 0;
  background-color: #333333;
  color: #4f4f4f;
  text-align: center;
  font-size: .9rem;
}
/*# sourceMappingURL=style.css.map */