@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700;800&display=swap");

/**************
variables
**************/
$colorGray: #333333;
$colorWhite: #ffffff;
$colorBlue: #00aabb;
$colorText: #4f4f4f;
$colorWhite: #fff;
$colorSection: #313131;
$fontFamily: "Mulish", sans-serif;
$fontSize: 16px;
$transition: .4s ease;
$padding: 100px 0;

/**************
mixins
**************/
@mixin flex($center) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $center;
}
@mixin bgImg($height) {
    height: $height;
    background-position: center;
    background-size: cover;
}
@mixin btn {
    background-color: $colorBlue;
    color: $colorWhite;
    font-weight: 300;
    text-transform: uppercase;
    padding: 15px 30px;
    border: none;
    margin: 20px 0;
    &:hover {
        color: $colorBlue;
        background-color: $colorText;
        cursor: pointer;
        transition: $transition;
    }
}


/**************
basic styles
**************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: $fontFamily;
    font-size: $fontSize;
    line-height: 1.6;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    transition: $transition;
}
.container {
    width: 90%;
    margin: auto;
    @media(max-width: 767px) {
        width: 95%;
    }
}
h1, h2, h3, h4 {
    text-transform: uppercase;
}
hr {
    background: $colorText;
    width: 90%;
    display: block;
    height: 1px;
    content: "";
    margin: 3px 0;
}

/**************
header
**************/
header {
    background-color: $colorGray;
    color: $colorWhite;
    text-align: center;
    padding: 30px 0;
    h1 {
        font-size: 3rem;
        font-weight: 800;
        @media(max-width: 767px) {
            font-size: 2rem;
        }
    }
    h3 {
        font-size: 1.3rem;
        font-weight: 300;
        @media(max-width: 767px) {
            font-size: .9rem;
        }
    }
}

/**************
nav
**************/
nav {
    background-color: $colorBlue;
    ul {
        @include flex(center);
    } 
    li {
        margin: 40px 30px 60px 30px;
        @media(max-width: 767px) {
            margin: 5px;
        }
    }
    .active {
        padding: 15px 25px;
        background-color: rgba(255, 255, 255, .5);
        @media(max-width: 767px) {
            padding: 5px 10px;
        }
    }
    a {
        color: $colorWhite;
        text-transform: uppercase;
        font-size: 1.1rem;
        font-weight: 300;
        @media(max-width: 767px) {
            font-size: .8rem;
        }
        &:hover {
            color: $colorText;
            cursor: pointer;
        }
    }
}

/**************
about
**************/

.about {
    padding: $padding;
    @media(max-width: 767px) {
        padding: 30px 0;
    }
    color: $colorText;
    background-image: url(../img/bg01.png);
    @include bgImg(90vh);
    @media(max-width: 767px) {
        @include bgImg(140vh);
    }
    .container {
        @include flex(space-between);
        article {
            padding: 15px;
        }
        article:first-child {
            flex: 0 0 30%;
            @media(max-width: 767px) {
                flex: 100%;
            }
            h3 {
                color: $colorBlue;
                font-size: 1.7rem;
                font-weight: 800;
                @media(max-width: 767px) {
                    font-size: 1.5rem;
                    font-weight: 600;
                }
            }
            p {
                line-height: 1.7;
                @media(max-width: 767px) {
                    line-height: .9;
                }
            }
            a {
                font-size: .9rem;
                &:hover {
                    color: $colorSection;
                    text-decoration: underline;
                }                
            }
        }
        article:last-child {
           flex: 0 0 65%;
           @media(max-width: 767px) {
            flex: 100%;
            order: -1;
        }
           h2 {
                color: $colorBlue;
                font-size: 2.5rem;
                font-weight: 800;
                @media(max-width: 767px) {
                    font-size: 1.5rem;
                    font-weight: 600;
                }
           }
           h4 {
               color: $colorText;
               margin: 20px 0 25px 0;
               @media(max-width: 767px) {
                    margin: 10px 0;
                    font-size: .8rem;
                }
           }
           p {
               line-height: 1.7;
               @media(max-width: 767px) {
                   line-height: 1.5;
               }
           }
        }
    }    
}
  
/**************
team
**************/

.team {
    background-color: $colorSection;
    padding: $padding;
    text-align: center;
    .container {
        @include flex(space-between);
        img {
            width: 100%;
            margin: 20px 0;
            opacity: .9;
            &:hover {
                opacity: 1;
                transform: scale(1.1);
                transition: 1s ease;
            }
        }
        article {
            flex: 0 0 23%;
            @media(max-width: 767px) {
                flex: 100%;
            }
            h4 {
                color: $colorWhite;
                font-size: 1.3rem;
                letter-spacing: .9px;
                font-weight: 600;
            }
            p {
                font-weight: 400;
                font-size: .9rem;
                letter-spacing: .5px;
                color: $colorWhite;
            }
            button {
                @include btn;
            }
        }
    }
}

/**************
blog
**************/

.blog {
    padding: $padding;
    background-color: $colorText;
    color: $colorWhite;
    .container {
        @include flex(space-between);
        article {
            flex: 0 0 29%;
            padding: 10px;
            @media(max-width: 767px) {
                flex: 100%;
            }
            h4 {
                font-size: 1.3rem;
                letter-spacing: .9px;
                font-weight: 600;
                margin-bottom: 20px;
            }
            p {
                font-weight: 300;
                font-size: .9rem;
                letter-spacing: .4px;
                color: $colorWhite;
                line-height: 1.9;
            }
            hr {
                margin: 8px 0;
            }
            a {
                color: $colorWhite;
                &:hover {
                    text-decoration: underline;
                }
            }
            i {
                font-size: 2rem;
                margin: 10px 10px 20px 10px;
                &:hover {
                    transform: rotate(360deg);
                    transition: 1s ease-in-out;
                }
            }
        }
    }
}

/**************
footer
**************/

footer {
    padding: $padding;
    background-color: $colorGray;
    color: $colorText;
    text-align: center;
    font-size: .9rem;
}